<h1>What People are Aksing</h1>
  <% if logged_in? %>
    <h2>Welcome, <%= current_user.username %></h2>
  <% end %>
<div class="section">
    <ul>
    <% @questions.each do |question| %>
      <li><a href="/questions/<%= question.id %>"><%= question.content %></a><br>
        aksed by: <a href="/users/<%= question.author.slug %>"><%= question.author.username %></a> <%= question.updated_at %></li>
    <% end %>
    </ul>
</div>
<div>
  <%= will_paginate @questions, renderer: BootstrapPagination::Sinatra %>
</div>
