<div class="container">
  <div class="section panel panel-default">

    <% if @question.author == current_user %>
      <span class="pull-right">
        <a href="/questions/<%= @question.id %>/edit"><button type="button" name="edit" class="btn btn-primary btn-sm btn-orange" style="display: inline-block;">Edit</button></a>

        <form action="/questions/<%= @question.id %>/delete" method="post" style="display: inline-block;">
          <input id="hidden" type="hidden" name="_method" value="delete">
          <button type="submit" name="delete" class="btn btn-danger btn-sm btn-orange"> X </button>
        </form>
      </span>
    <% end %>

    <div class="panel-heading">
      <span><a href="/users/<%= @question.author.slug %>"><%= @question.author.username %></a> aksed:</span>
    </div>
    <div class="panel-body">
      <%= @question.content %>
    </div>
  </div>

  <% if logged_in? %>
    <div class="section">
      <h4>Write a Comment!</h4>
      <div class="form-group">
        <form action="/questions/comments/<%= @question.id %>" method="post">
          <textarea class="form-control" name="content" id="content" rows="3"></textarea>
          <br>
          <input type="submit" name="comment" id="comment" value="Comment" class="btn btn-orange">
        </form>
    </div>
    </div>
  <% end %>

  <div class="section panel panel-default">
    <% if @question.comments.count != 0 %>
      Answers:
      <% else %>
      No Answers Yet
    <% end %>
    <ul>
      <% @question.comments.each do |comment| %>
      <div class="well">

        <div class="">
          <a href="/users/<%= comment.commenter.slug %>"><%= comment.commenter.username %></a> sed:
        </div>
        <div class="">
          <a href="/comments/<%= comment.id %>"><%= comment.content %></a>
        </div>

      </div>
      <% end %>
    </ul>
  </div>
</div>
