<div class="container">
  <div class="section">

    <h3><%= @user.username %> aksed:</h3>

    <ul class="list-group">
      <% @user.authored_questions.each do |question| %>
        <li class="list-group-item"><a href="/questions/<%= question.id %>"><%= question.content %></a></li>
      <% end %>
    </ul>

    <h4><%= @user.username %> commented:</h4>

    <ul>
      <% @user.comments.each do |comment| %>
        <li><a href="/questions/<%= comment.question.id %>"><%= comment.content %></a></li>
      <% end %>
    </ul>

  </div>
</div>
