  <div class="row">
    <div class="col-sm-12">
      <h3><%= @user.username %> asked:</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <ul class="list-inline">
        <% @questions.each do |question| %>
          <li class="list-group-item col-sm-4">
            <div class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <a href="/questions/<%= question.id %>">
                    <span class="small text-muted">asked on: <%= question.updated_at %></span>
                  </a>
                </div>
                <div class="panel-body">
                  <a href="/questions/<%= question.id %>"><%= question.content %></a>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

    <div>
      <%= will_paginate @questions, :param_name => 'questions_page', renderer: BootstrapPagination::Sinatra %>
    </div>

  </div>

    <h4><%= @user.username %> commented:</h4>

  <div class="row">
    <div class="col-sm-12">
      <ul class="list-inline">
        <% @comments.each do |comment| %>
        <li class="list-group-item col-sm-4">
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <a href="/questions/<%= comment.question.id %>"><span class="text-muted"><%= comment.question.content %></span></a>
              </div>
              <div class="panel-body">
                <%= comment.content %>
              </div>
            </div>
          </div>
        </li>
        <% end %>

      </ul>
    </div>

    <div>
      <%= will_paginate @comments, :param_name => 'comments_page', renderer: BootstrapPagination::Sinatra %>
    </div>
  </div>
